.scroll {
  width: 40px;
  height: 40px;
  border: 1px solid #737272;
  border-radius: 50%;
  line-height: 0;
  //border: none;
  text-transform: none;
  overflow: visible;
  position: fixed;
  right: 10px;
  bottom: 10px;
  margin-bottom: 5px;
  text-align: center;
  opacity: 0.4;
}

.scroll:hover {
  cursor: pointer;
  opacity: 1;
}