@import "../common/styles/sass/variables";

.contactsBlock {
  background-color: $bgColor;

  .contactsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .contacts {
      width: 280px;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 20px;

      @media screen and (max-width: 380px) {
        width: 90%;
        height: 90%;
        justify-content: center;
      }
    }
  }
}





