.skill {
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

@media screen and (max-width: 1875px) {
    .skill {
        width: 30%;
        justify-content: space-between;
    }
}

@media screen and (max-width: 624px) {
    .skill {
        width: 65%;
        justify-content: center;
    }
}

.icon {
    height: 60px;
    width: 60px;
    background-color: grey;
}

.description {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
