.title {
    //background-color: magenta;
    margin-bottom: 35px;
    position: relative;
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 30px;
        text-transform: uppercase;
        color: #262626;
        margin: 0;
        box-sizing: border-box;
        text-align: center;
    }
    &::before {
        content: "";
        background: #232323 none repeat scroll 0 0;
        bottom: -15px;
        height: 2px;
        left: 50%;
        position: absolute;
        top: auto;
        transform: translateY(0px) translateX(-50%);
        width: 75px;
    }
}




