.skillsBlock {
    min-height: 100vh;
    background-color: #f8f8f8;
}

.skillsContainer {
    /*align-items: center;*/
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: white;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 624px) {
    .skills {
        justify-content: center;
    }
}

