.skillsBlock {
    height: 100vh;
    background-color: yellow;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: white;
}

.skills {
    border: 1px solid;
    width: 100%;
}

