.mainBlock {
    height: 100vh;
    background-color: orangered;
}

.text {
    width: 350px;
    background-color: white;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: white;
}



