@import "../common/styles/sass/variables.scss";

.mainBlock {
    height: 100vh;
    background-color:#fff;
}

.text {
    width: 350px;
    background-color: white;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid;
}

.hi {
    font-family: Jost,Arial,Helvetica,sans-serif;
    color: #333;
    font-size: 26px;
    line-height: 1.37;
    font-weight: 400;
}

.name {
    font-size: 40px;
    /*font-family: Jost,Arial,Helvetica,sans-serif;*/
    color: #262626;
    font-family: 'Montserrat', sans-serif;

}

.frontendDeveloper {
    font-family: 'Montserrat', sans-serif;
    /*font-family: Jost,Arial,Helvetica,sans-serif;*/
    color: #262626;
    font-size: 28px;
    line-height: 1.37;
    font-weight: 400;
}



