@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";


.project {
  border: 1px solid #f0f0f0;
  width: 450px;
  background: #fff none repeat scroll 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 1.37;
  font-weight: 400;

  .img {
    height: 200px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &:hover :before {
    background-color: $bgColor;
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
  }

  .projectInfo {
    .title {
      width: 100%;

      .projectTitle {
        @include projectTitle(20px, 1.1);
        margin-bottom: 5px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 0;

        .link {
          color: $pramaryColor;
        }
      }
    }

    .description {
      @include text(14px, 22px);

      font-weight: normal;
      font-style: normal;
      margin: 0 0 10px;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding: 0 20px;

      .linkDescription {
        text-decoration: none;
        color: $textColor;
      }
    }
  }
}








