@import "../common/styles/sass/variables";

.nav {
    //border: 1px solid red;
    width: 400px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    font-family: $projectTitleFontFamily;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #232332;


    &:visited {
        color: #232332;
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
        color: #232332;
    }

    .navLink {
        text-decoration: none;
        color: #232332;
        scroll-behavior: smooth;
    }
}



//.nav:visited {
//    color: #232332;
//    text-decoration: none;
//}
//
//.nav:hover {
//    text-decoration: none;
//    color: #232332;
//}

