@import "./variables";

@mixin text($fontSize, $lineHeight) {
  font-family: $descriptionFontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin projectTitle($fontSize, $lineHeight) {
  font-family: $projectTitleFontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $pramaryColor;
}