.projectsBlock {
    min-height: 100vh;
    background-color: #00000000;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
background-color: magenta;
    margin-bottom: 15px;
}

.title .h2 {
    display: inline-block;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 0;
    position: relative;
    text-transform: uppercase;
    color: #262626;

}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1005px) {
    .projects {
        justify-content: center;
    }
}